<html>
<body>
	<div class="pages">

	<h2>You have to learn the rules of the game. 
		And then you have to play better than anyone else.</h2>


	<h4> -Albert Einstein- </h4>
	</div>

	<div class="pages">
	<h1>Origin</h1>

	<h4></h4>
	</div>
	<!-- place a dark gray transparent container around the origin text -->

</body>
</html>