<html>
<body>
	<div class="pages">

	<h2>You have to learn the rules of the game. 
		And then you have to play better than anyone else.</h2>


	<h4> -Albert Einstein- </h4>
	</div>

	<div class="pages" id="placer">
	<h1>Origin</h1>
	    
	    <h4>Fake text for placement</h4>
  		<%= image_tag "Mmackpic.jpg", size: "450x400", alt: "travelpic" %>
	</div>
	<!-- place a dark gray transparent container around the origin text -->

</body>
</html>