<html>
<body>
	<div class="pages">
	<h1>Beats by M.Mack</h1>
	<h3>My All</h3>
	<%= audio_tag("My All by M.Mack(unofficial).mp3", autoplay: false, controls: true) =%>
	</div>

<!-- Javascrpt portion -->

<!-- Javascrpt portion -->

	<div class="pages">
	<h1>Compositions</h1>
	<h4></h4>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/252HQxsQrv4" frameborder="0" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/k50sOuXCygk" frameborder="0" allowfullscreen></iframe>


	<iframe width="560" height="315" src="https://www.youtube.com/embed/mbOij2xl_UU" frameborder="0" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/as6j5QoSFko" frameborder="0" allowfullscreen></iframe>

	</div>
	<!-- <div>
	<h1>Videos</h1>
	<h4> Place list of my youtube vids here! </h4>
	</div> -->
</body>
</html>